<ion-header>
  <ion-toolbar class="toolhead">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="list_items">
          <ion-text color="primary" class="color-h3">
            <h3>Convencionales</h3>
          </ion-text>

          <ion-text>
            <h3>042081040 - 042081043</h3>
          </ion-text>

          <ion-text color="primary">
            <h5>¿Alguna pregunta?</h5>
          </ion-text>

          <ion-text>
            <a href="mailto:educom@espol.edu.ec">
              <h5>educom@espol.edu.ec</h5>
            </a>
          </ion-text>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <div class="list_items">
          <ion-text color="primary">
            <h6>WHATSAPP<br />LAS PEÑAS</h6>
          </ion-text>

          <ion-text color="primary">
            <ion-button href="whatsapp://send?phone=593985425412?text=Hola,%20necesito%20ayuda">
              <h6>0985425412</h6>
            </ion-button>
          </ion-text>
        </div>
      </ion-col>

      <ion-col size="6">
        <div class="list_items">
          <ion-text color="primary">
            <h6>WHATSAPP<br />GUSTAVO GALINDO</h6>
          </ion-text>
          <ion-text color="primary">
            <ion-button href="whatsapp://send?phone=593985425412?text=Hola,%20necesito%20ayuda">
              <h6>0985425412</h6>
            </ion-button>
          </ion-text>
        </div>

      </ion-col>

      <ion-col size="2">

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2">

      </ion-col>
      <ion-col size="8">
        <div class="list_items">
          <ion-text>
            <h5><a href="http://www.cec.espol.edu.ec/" target="_blank">www.cec.espol.edu.ec</a></h5>
          </ion-text>
        </div>

        <div class="list_items">
          <ion-text color="primary">
            <h5>Síguenos</h5>
          </ion-text>
          <ion-row>
            <ion-col>
              <a href="https://www.youtube.com/channel/UCFya2vxuRYLD7BPiWpKtSgA?view_as=subscriber" target="_blank">
                <ion-icon name="logo-youtube" color="dark"></ion-icon>
              </a>
            </ion-col>
            <ion-col>
              <a href="https://www.facebook.com/econtinuaespol" target="_blank">
                <ion-icon name="logo-facebook" color="dark"></ion-icon>
              </a>
            </ion-col>
            <ion-col>
              <a href="https://twitter.com/econtinuaespol/" target="_blank">
                <ion-icon name="logo-twitter" color="dark"></ion-icon>
              </a>
            </ion-col>
            <ion-col>
              <a href="https://www.linkedin.com/in/econtinuaespol/" target="_blank">
                <ion-icon name="logo-linkedin" color="dark"></ion-icon>
              </a>
            </ion-col>
          </ion-row>
        </div>

      </ion-col>

      <ion-col size="2">

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2">

      </ion-col>
      <ion-col size="8">
        <div class="list_items">
          <ion-text color="primary">
            <h5>Desarrollado por:</h5>
          </ion-text>
          <ion-row>
            <ion-col>
              <ion-icon name="accessibility-outline"></ion-icon>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>

      <ion-col size="2">

      </ion-col>
    </ion-row>



  </ion-grid>
</ion-content>