<ion-content padding='true'>
  <div class="vertical-center">
    <img src="assets/images/LogoCEC.png" class="smallLogo" />
  </div>
  <ion-text color="primary" class="color-h3">
    <h3>Crear Cuenta</h3>
  </ion-text>
  <form>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Nombres</ion-label>
        <ion-input [(ngModel)]="name" name="nombre" autocomplete="on" type="email"><ion-icon name="accessibility-outline"></ion-icon></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Apellidos</ion-label>
        <ion-input [(ngModel)]="apellidos" autocomplete="off" name="apellidos" type="text"><ion-icon name="person-outline"></ion-icon></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Correo electrónico</ion-label>
        <ion-input [(ngModel)]="email" autocomplete="on" name="email" type="email"><ion-icon name="mail-outline"></ion-icon></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Correo alternativo</ion-label>
        <ion-input [(ngModel)]="email2" autocomplete="on" name="email2" type="email"><ion-icon name="mail-outline"></ion-icon></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Direccion</ion-label>
        <ion-input [(ngModel)]="direccion" autocomplete="off" name="direccion" type="text"><ion-icon name="person-outline"></ion-icon></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input [(ngModel)]="pass" autocomplete="off" name="pass" type="password"><ion-icon name="finger-print-outline"></ion-icon></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">N° Celular</ion-label>
        <ion-input [(ngModel)]="celular" autocomplete="off" name="celular" type="number"><ion-icon name="call-outline"></ion-icon></ion-input>
      </ion-item>

      <ion-label>Genero</ion-label>
      <ion-select [(ngModel)]="genero">
        <ion-select-option value="M">Masculino</ion-select-option>
        <ion-select-option value="F">Femenino</ion-select-option>
      </ion-select>

      <ion-item lines='none'>
        ¿Ya tienes una cuenta? <a routerLink='/login'> Inicia Sesión</a>
      </ion-item>
    </ion-list>
    <ion-button expand="block" share="round" color="primary" class="ion-padding-horizontal" (click)="registrar()">Registrar</ion-button>
    <ion-button expand="block" share="round" color="medium" class="ion-padding-horizontal" routerLink="/login">Cancelar</ion-button>
  </form>
</ion-content>