<ion-app>
  <ion-split-pane contentId="main">
    <!--  the side menu  -->
    <ion-menu contentId="main" menuId="menu_lateral">
      <ion-header>
        <ion-toolbar class="toolhead">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item *ngFor="let list of listMenu;let i = index" [attr.data-index]="i">
            <ion-button fill="clear" (click)="verificar(i)">{{list.item}}</ion-button>
          </ion-item>
        </ion-list>
      </ion-content>
      <ion-footer *ngIf="estadoUser">
        <ion-toolbar>
            <ion-item>
            <ion-button hide="estadoUser" fill="clear" size="medium" (click)="salir()">
              <ion-icon name="exit" slot="start"></ion-icon>
              Salir
            </ion-button>
            </ion-item>
        </ion-toolbar>
      </ion-footer>
    </ion-menu>

    <!-- the main content -->
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>

</ion-app>