.tips{
    background-color:rgb(225, 233, 248);
    border-radius: 10px;
    border-width: 5px;
    height: 80%;
    width: 95%;
    padding: 20px;
    margin:10px;
}
.imagen{
    height: 60%;
    width: 100%;
}